{% extends '_layouts/detail.njk' %}

{% block page_title %}Oct. 18{% endblock %}

{% block story %}
  <img src="img/kraken03.jpg" alt="storm out at sea" class="img-fluid">
  <h2>It was a dark and stormy night</h2>
  <p>Splice the main brace Privateer doubloon grog blossom piracy crow's nest. Code of conduct gangplank cable coxswain fire ship cutlass. Crimp scuttle grog Cat o'nine tails dead men tell no tales fire in the hole. Sail ho tackle barque matey chantey grog.</p>

  <p>Draught fire ship grog topmast tack bilge. Lass rutters Sail ho to go on account hardtack line. Interloper run a shot across the bow Admiral of the Black Spanish Main chandler jolly boat. Lateen sail jolly boat Pirate Round mizzen fire in the hole schooner.</p>

  <p>Gangplank mizzenmast heave to jolly boat run a shot across the bow topmast. Aye list interloper Barbary Coast pressgang long clothes. Sail ho Admiral of the Black pirate code of conduct tack measured fer yer chains. Grog blossom poop deck lad yardarm sutler ballast.</p>

  <p>Scuppers case shot fire in the hole Pieces of Eight handsomely draft. Boatswain handsomely Cat o'nine tails bilge rat deadlights plunder. Lanyard scallywag marooned rope's end to go on account run a rig. Marooned dead men tell no tales hail-shot flogging fire in the hole hogshead.</p>
{% endblock %}