{% extends '_layouts/detail.njk' %}

{% block page_title %}Oct. 20{% endblock %}

{% block story %}
  <img src="img/kraken01.jpg" alt="octopus and ship" class="img-fluid">
  <h2>Call me Ishmael</h2>
  <p>Fore measured fer yer chains Sink me maroon. Schooner Jack Ketch piracy lugsail. Interloper log rutters case shot. Corsair yardarm rum boatswain. Gally measured fer yer chains hang the jib Jack Ketch. Hail-shot Pieces of Eight clipper coxswain.</p>

  <p>Scallywag log jack provost. Yardarm broadside Gold Road list. Lateen sail schooner boom driver. Piracy doubloon pink barque. Schooner boatswain grog tackle. Hang the jib draught barkadeer port.</p>

  <p>Spyglass gangplank bounty rutters. Quarterdeck schooner jack Sea Legs. Aft draught lad maroon. Poop deck shrouds parrel hardtack. Bowsprit clap of thunder grog bounty. Boom holystone Chain Shot crow's nest.</p>

  <p>Tender yardarm hang the jib yawl. Code of conduct parrel booty ho. Matey gangway overhaul no prey, no pay. American Main black spot driver ballast. Barbary Coast killick Shiver me timbers swab. Draft quarterdeck scuppers avast.</p>

  <p>Crow's nest spirits topmast tack. Barque pirate main sheet to go on account. Fathom marooned gabion trysail. Bilge rat barkadeer fire ship ye. Hardtack transom jury mast bowsprit. Marooned Privateer cog list.</p>

  <p>Scuppers holystone Admiral of the Black yo-ho-ho. Boom Arr pirate run a shot across the bow. Barque keelhaul pressgang Spanish Main. Careen crack Jennys tea cup jury mast scourge of the seven seas. Lass lanyard lateen sail hogshead. Mutiny salmagundi topsail Davy Jones' Locker.</p>
{% endblock %}