{% extends '_layouts/detail.njk' %}

{% block page_title %}Oct. 19{% endblock %}

{% block story %}
  <img src="img/kraken02.jpg" alt="black and white ship" class="img-fluid">
  <h2>Fear the Kraken</h2>
  <p>Sutler line Sail ho avast Pirate Round furl. Mutiny bounty Jack Ketch Letter of Marque mizzenmast splice the main brace. Jack Ketch long clothes draft broadside fathom yo-ho-ho. Rope's end pinnace Sink me carouser schooner killick.</p>

  <p>Matey case shot hornswaggle lad landlubber or just lubber port. Chain Shot come about blow the man down haul wind bilge water dead men tell no tales. Deadlights Shiver me timbers six pounders Cat o'nine tails swing the lead rum. Rutters lugsail Yellow Jack gabion spanker killick.</p>

  <p>Ye lugger grog lanyard doubloon list. Gold Road nipper case shot marooned overhaul parrel. Gangplank port fluke plunder provost tackle. Fire ship walk the plank lugger scurvy shrouds cackle fruit.</p>

  <p>Jack Tar reef sails league knave strike colors gun. Spirits line ho yawl main sheet lad. Sail ho yardarm parley lugsail aft Pieces of Eight. Draft weigh anchor cackle fruit pink lad lugger.</p>
{% endblock %}