{% extends '_layouts/base.njk' %}

{% block page_title %}Pirate Cove{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col offset-sm-4 offset-md-2">
    <h1>A Pirate's Blog</h1>
    <p class="author">By {% for author in authors %}
      <a href="{{ author.link }}" target="_blank">{{ author.name }}</a>{% if not loop.last %}{% if loop.revindex0 == 1 %} and {% else %}, {% endif %}{% endif %} {% endfor %}
      <br> Published {{ publish_date }}
    </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-8 offset-sm-4 offset-md-2">
      <p>
        Coxswain nipper jack no prey, no pay skysail. Fire in the hole loot list piracy sheet. Coxswain code of conduct chase Yellow Jack bowsprit. Overhaul Gold Road aye tackle pink. Haul wind dance the hempen jig poop deck galleon killick. Coffer Blimey lugsail scourge of the seven seas nipper.
      </p>
        {% for entry in data.entries %}
          <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
          <p class="entry-date">{{ entry.date }}</p>
          <hr>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
